<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opc.core.mapper.CoreMaterialTagMapper">

	<resultMap type="CoreMaterialTag" id="CoreMaterialTagResult">
		<id     property="id"                column="id"                  />
		<result property="materialId"        column="material_id"         />
		<result property="tagId"             column="tag_id"              />
		<result property="createBy"          column="create_by"           />
		<result property="createTime"        column="create_time"         />
	</resultMap>

	<resultMap type="CoreTag" id="CoreTagResult">
		<id     property="id"                column="tag_id"              />
		<result property="tagName"           column="tag_name"            />
		<result property="tagColor"          column="tag_color"           />
		<result property="sortOrder"         column="sort_order"          />
		<result property="status"            column="status"              />
	</resultMap>

	<sql id="selectMaterialTagVo">
        select id, material_id, tag_id, create_by, create_time
		from core_material_tag
    </sql>

	<select id="selectMaterialTagList" parameterType="CoreMaterialTag" resultMap="CoreMaterialTagResult">
		<include refid="selectMaterialTagVo"/>
		<where>
			<if test="materialId != null">
				AND material_id = #{materialId}
			</if>
			<if test="tagId != null">
				AND tag_id = #{tagId}
			</if>
		</where>
	</select>

	<select id="selectTagsByMaterialId" parameterType="Long" resultMap="CoreTagResult">
		select t.id as tag_id, t.tag_name, t.tag_color, t.sort_order, t.status
		from core_tag t
		inner join core_material_tag mt on t.id = mt.tag_id
		where mt.material_id = #{materialId}
		order by t.sort_order asc
	</select>

	<insert id="insertMaterialTag" parameterType="CoreMaterialTag" useGeneratedKeys="true" keyProperty="id">
 		insert into core_material_tag(
 			<if test="id != null and id != 0">id,</if>
 			<if test="materialId != null">material_id,</if>
 			<if test="tagId != null">tag_id,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="id != null and id != 0">#{id},</if>
 			<if test="materialId != null">#{materialId},</if>
 			<if test="tagId != null">#{tagId},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>

	<insert id="batchInsertMaterialTag">
		insert into core_material_tag(material_id, tag_id, create_by, create_time)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.materialId}, #{item.tagId}, #{item.createBy}, sysdate())
		</foreach>
	</insert>

	<delete id="deleteMaterialTagById" parameterType="Long">
		delete from core_material_tag where id = #{id}
	</delete>

	<delete id="deleteMaterialTagByMaterialId" parameterType="Long">
		delete from core_material_tag where material_id = #{materialId}
	</delete>

	<delete id="deleteMaterialTagByTagId" parameterType="Long">
		delete from core_material_tag where tag_id = #{tagId}
	</delete>

	<delete id="deleteMaterialTags" parameterType="Long">
		delete from core_material_tag where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
